<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-button color="light" (click)="irAlHome()" class="colorBoton">
        <ion-icon name="return-up-back-outline"></ion-icon>
      </ion-button>
      <ion-title>
          <!-- Dark Logo icon -->
          <img src="assets/logo-icon.png" alt="homepage" class="dark-logo" />
          <img src="assets/logo-text.png" alt="homepage" class="dark-logo" />
          <!-- Light Logo text -->
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="row">
      <div class="col-md-12">
          <table class="table table-bordered table-dark">
              <thead>
                  <tr>
                      <th scope="col">Usuario</th>
                      <th scope="col">Ok</th>
                      <th scope="col">Imagen</th>
                      <th scope="col">Acciones</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let detalle of detalles">
                      <th scope="row">{{detalle.Usuario}}</th>
                      <td>{{detalle.solucions}}</td>
                      <td> <img src="{{detalle.rutaFoto}}" width=53 height=73 *ngIf="detalle.rutaFoto"></td>
                      <td>
                          <ion-button size="small" color="light" (click)="EditarLista(detalle.id)">VER MÁS</ion-button>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</ion-content>
