
  .social-cards ion-col {
    padding: 0;
  }
  ion-content {
    --background: #333;
}
ion-card {
    background: #ffffff;
    /* margin-top: 25%; */
}
.margintop{
    margin-top: 5%;
}
.colorBoton{
  background: #ffffff;
  float: right;
  margin-right: 2%;
}
